@CHARSET "UTF-8";

.menu {
	width: 80%;
	margin: auto;
	/* background: #005A31; */
}

.menu-messages {
	width: 50%;
	margin: auto;
}

.container {
	width: 70%;
	margin: auto;
}

.form {
	width: 500px;
	margin: auto;
}

.form-receipt {
	width: 700px;
	margin: auto;
}

.form-receipt input[type="submit"] {
	float: right;
	margin-right: 20px;
	margin-top: 25px;
}

#brandsTable, #positionsTable {
	width: 70%;
}

select {
	display: block;
}

.image-preview-input {
	position: relative;
	overflow: hidden;
	margin: 0px;
	color: #333;
	background-color: #fff;
	border-color: #ccc;
}

.image-preview-input input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity = 0);
}

.image-preview-input-title {
	margin-left: 2px;
}

.product-find-search {
	width: 40%;
	margin: auto;
}

.product-view {
	width: 70%;
	margin: auto;
	position: relative;
}

.product-view img {
	display: block;
	margin: auto;
	max-height: 700px;
	max-width: 700px;
	min-height: 400px;
	min-width: 200px;
}

.product-view-info {
	margin: auto;
	display: inline-block;
	font-size: 18px;
	margin: 20px 0 0 200px;
}

.product-view #name {
	margin: auto;
	display: block;
	text-align: center;
	font-size: 18px;
	padding-bottom: 20px;
}
/*
.product-view label {
	display: inline-block;
	margin-left: 200px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.product-view a {
	bottom: 20px;
	display: block;
	float: right;
	margin-right: 100px;
	position: absolute;
	right: 50px;
} */
.product-list {
	width: 700px;
	margin: auto;
}

.product-list-item {
	height: 420px;
	width: 670px;
}

.product-list-info {
	height: 410px;
	width: 270px;
	position: absolute;
	right: 10px;
	top: 10px;
}

.product-list-info-field {
	margin-bottom: 30px;
	position: relative;
}

img.product-list-image {
	max-width: 350px;
	max-height: 400px;
	min-width: 250px;
	min-height: 350px;
}

.invoice-receipt-add-product {
	display: inline-block;
	width: 110px;
}

.invoice-receipt-add-product input[type=number] {
	-moz-appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button
	{
	-webkit-appearance: none;
	margin: 0;
}

.invoice-receipt-employee {
	float: right;
}

.cart-view-img {
	max-width: 150px;
	max-height: 200px:
}

.cart-view-form {
	width: 70%;
	margin: auto;
}

.cart-view-form	input[type=number] {
	-moz-appearance: textfield;
	width: 40px;
}

.index-form {
	width: 70%;
	margin: auto;
}

.index-img {
	max-width: 2000px;
	max-height: 700px;
}

.payment-and-shipment-form {
	width: 70%;
	margin: auto;
}

.order-view {
	width: 70%;
	margin: auto;
}

.order-view-header {
	width: 40%;
}

.order-view-header-item {
	display: inline-block;
}

.my-orders, .invoice-all{
	width:70%;
	margin: auto;
}
